* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.wrapper {
    margin: 0 auto;
    width: 80%;
    max-width: 1125px;
}
.header {
    display: flex;
    margin: 0 auto;
    width: 80%;
    max-width: 1125px;
    align-items: center;
    padding: 25px 0;
}
.logo {
    width: 16%;
}
.logo img {
    object-fit: contain;
    width: 100%;
    height: auto;
}
.nav {
    flex-grow: 1;
}
.menu {
    display: flex;
    justify-content: right;
}
.header_buttons {
    width: 24%;
    min-width: 240px;
}
.menu_link {
    font-size: 14px;
    color: #2F281E;
    line-height: 28px;
}
.menu_item {
    margin: 0 20px;
}
.btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    background: #FF9900;
    padding: 10px 25px;
}
.btn_transparent {
    color: #173A56;
    background: transparent;
    border: 1px solid #BCD0E5;
    padding: 10px 25px;
    margin-right: 10px;
}
.section {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
}
.section_tools {
    display: block;
}
.section_img {
    flex-grow: 1;
}
.section_text {
    width: 50%;
    margin-right: 100px;
}
.section_text_reverse {
    order: 1;
    margin: 0 0 0 100px;
}
.title {
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
    margin-bottom: 30px;
}
.title_2 {
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
    margin-bottom: 20px;
}
.title_3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2F281E;
    margin: 30px 0 15px 0;
}
.title_4 {
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #2F281E;
    margin: 30px 0 15px 0;
}
.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #544837;
}
.section_tools h2 {
    text-align: center;
}
.text_marker {
    margin-top: 30px;
    position: relative;
    padding-left: 70px;
}
.text_marker::before {
    content: url('../img/mark.png');
    position: absolute;
    top: 5px;
    left: 0;
}
.banner_img {
    flex-grow: 1;
}
.banner {
    width: 50%;
}
.banner_text {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
}
.btn_video {
    color: #FF9900;
    text-decoration-line: underline;
    border: none;
    background: none;
    position: relative;
    margin-left: 40px;
    padding-left: 30px;
}
.btn_video::before {
    content: url('../img/triangle.png');
    position: absolute;
    top: 10px;
    left: 0;
}
.tools {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 50px 0 35px 0;
}
.tool_item {
    flex-basis: 25%;
    margin-right: 25px;
}
.tool_item:last-child {
    margin-right: 0;
}
.tools_button button {
    font-weight: bold;
    background: #FF9900;
    padding: 15px 30px;
}
.tools_button{
    text-align: center;
}
.footer {
    margin: 0 auto;
    width: 80%;
    max-width: 1125px;
    display: flex;
    border-top: 1px solid #BCD0E5;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: flex-end;
    justify-content: space-between;
}
.footer_menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 140px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.submit_btn {
    font-weight: bold;
    padding: 10px 15px;
}
.form_field {
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    width: 325px;
    height: 50px;
    margin-bottom: 20px;
}
.footer_logo {
    align-self: flex-start;
    padding-bottom: 170px;
}
.footer_link {
    font-size: 16px;
    line-height: 35px;
    color: #534736;
    padding: 4px 160px 0 0;
}
